/* your styles go here */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;700&display=swap');

body {
    font-family: 'Red Hat Mono', monospace;
    font-size: 14px;
    line-height: 1.55;
    color: #232323;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

a {
    font-family: 'Red Hat Mono', monospace;

    color: #000;
    text-decoration: underline;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#sidebar a {
    font-size: 1.25em;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #f4f4f4;
        background-color: #040404;
    }
    a {
        color: #f4f4f4;
    }
}

a:hover,
a:focus {
    color: #ff00e6;
    text-decoration: underline;
    font-weight: bold;
}

.btn {
    font-weight: 400;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.55;
    border-radius: 0;
    color: #ff00e6;
    background-color: transparent;
    border-color: #ff00e6;
}

@media screen and (max-width: 575px) {
  .btn {
    font-size: 14px;
  }
}

.btn:hover {
    color: #fff;
    background-color: #ff00e6;
    border-color: #ff00e6;
}

video {
    width: 100%;
    border: 1px solid;
}

@media(prefers-colors-scheme: dark) {
  video {
    border-color: #fff;
  }
}

header {
  z-index: 1000;
}

.static {
  position: absolute;
  background: white;
 }

.box-masonry:hover .static {
  opacity: 0;
}

.sidebar {
  padding-top: 2em;
  padding-left: 2em;
}

.sidebar a {
  font-size: 1.25em;
}

.sidebar-content {
    z-index: 0;
    padding: 1.5em;
    padding-bottom: 2em;
    border: 1px solid;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
}

@media(prefers-color-scheme: dark) {
  .sidebar-content {
    background: #000;
    box-shadow: 0 0 5px rgb(32, 33, 34);
  }
}

.sidebar-heading {
    font-size: 1.25em;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.sidebar-title {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.sidebar-img {
  text-align: center;
}

.sidebar img {
  min-width: 10px;
  max-width: 25px;
}

@media screen and (max-width: 991px) {

  .sidebar-title {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.sidebar-menu {
    list-style-type: none;
    padding-left: 2em;
}

.sidebar-menu li:before {
    content: '-';
    margin: 0 5px 0 -15px;
    color: #999999;
}

.copyright {
  position: relative;
  margin-top: 4em; 
  font-size: 0.75em;
  text-align: center;
}

.copyright p {
  margin-bottom: 0em;
}

.copyright img {
  max-width: 100px;
}

.copyright:before {
  content: "";
  width: 75%;
  height: 1px;
  position: absolute;
  top: -2em;
  left: 12.5%;
  background-color: #000;
  border-top: 1px solid;
}

.sidebar-menu li.active a, 
.sidebar-menu li.active:before,
.sidebar-menu li:hover:before {
    font-weight: bold;
    color: #ff00e6;
}

.sidebar-content img {
  width: 100%;
}

.contact-form {
    margin-bottom: 20px;
}

.contact-form #topic:after {
    content: "v";
    color: #000;
    font-size: 14px;
}

.social {
    margin-top: 2em;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.social a {
    display: inline-block;
    
    margin: 0.25em;

    width: 40px;
    height: 40px;
    
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    
    border-radius: 10px;
    border: solid 1px;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.social a:hover {
    color: #ff00e6;
    border-color: #ff00e6;
}

.social a i {
    vertical-align: bottom;
    line-height: 40px;
}

/*
  =====================
  OFF-CANVAS SIDEBAR BEHAVIOUR
  =====================
  */
  @media screen and (max-width: 575px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      opacity: 1;
    }
    .row-offcanvas-right {
      right: 0;
    }
    .row-offcanvas-left {
      left: 0;
    }
    .row-offcanvas-right .sidebar-offcanvas {
      right: -50%;
      /* 6 columns */
    }
    .row-offcanvas-left .sidebar-offcanvas {
      left: -48%;
      /* 6 columns */
    }
    .row-offcanvas-right.active {
      right: 50%;
      /* 6 columns */
    }
    .row-offcanvas-left.active {
      left: 50%;
      /* 6 columns */
    }
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 50%;
      /* 6 columns */
    }
  }

  /*
  =====================
  SIDEBAR + RIGHT COLUMN
  =====================
  */
  
  .content-column {
    padding-top: 2em;
  }

  .grid {
    padding-top: 5px;
    overflow-y: hidden;
  }
  .content-column-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  @media (min-width: 1200px) {
    .content-column-content {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .content-column-content ul li {
    list-style-type: none;
  }
  .content-column-content ul li:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin: 0 5px 0 -15px;
  }

  /* Responsive header */

  .small-navbar {
    margin-bottom: 20px;
  }
  .small-navbar:before,
  .small-navbar:after {
    content: " ";
    display: table;
  }
  .small-navbar:after {
    clear: both;
  }
  .small-navbar-heading {
    float: right;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 10px;
  }

  @media screen and (max-width: 575px) {
    .small-navbar-heading {
      font-size: 14px;
    }
  }

  img-responsive {
    margin: 0 auto;
  }
  
  @media (max-width: 991px) {
    .text-center-mobile {
      text-align: center !important;
    }
  }
  
  a i.fa,
  button i.fa {
    margin: 0 5px;
  }

  .clickable {
    cursor: pointer !important;
  }
  .text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .list-style-none {
    list-style: none;
  }

  /* Masonry */

  .box-masonry {
    margin-top: 3em;
    background: #fff;
    margin-bottom: 1em;
    position: relative;
    box-shadow: 0 0 5px #ccc;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid;
  }

  @media(prefers-color-scheme: dark) {
    .box-masonry {
      background: #000;
      box-shadow: 0 0 5px rgb(32, 33, 34);
    }
  }

  .box-masonry h4 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .box-masonry .box-masonry-text {
    padding: 15px 20px 15px;
  }

  .box-masonry .box-masonry-hover-center {
    position: absolute;
    width: 100%;
    top: 30%;
    opacity: 0;
    padding-left: 20px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-align: center;
  }

  .box-masonry .box-masonry-hover-center .see-more-icon {
    font-size: 50px;
  }

  .box-masonry:hover {
    border-color: #ff00e6
  }

  .box-masonry:hover a {
    color: #ff00e6
  }

  .box-masonry-hover-text-header {
    padding: 15px 20px 15px;
  }

  .box-masonry:hover .box-masonry-hover-text-header {
    opacity: 1;
  }
  .box-masonry:hover .box-masonry-hover-center {
    opacity: 1;
  }
  .box-masonry:hover .box-masonry-image.with-hover-overlay:before {
    opacity: 0.5;
  }
  .box-masonry:hover .box-masonry-image.with-hover-icon:after {
    opacity: 1;
  }
  .box-masonry h2:last-child,
  .box-masonry p:last-child {
    margin-bottom: 0;
  }
  .box-masonry .box-masonry-image {
    display: block;
    position: relative;
    min-height: 100px;
    background: #ccc;
    border-bottom: 1px solid;
  }

  .box-masonry img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box-masonry .box-masonry-image.with-hover-overlay:before {
    display: block;
    position: absolute;
    content: " ";
    background: #fff;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .box-masonry .box-masonry-image.with-hover-icon:after {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    content: '>';
    text-align: center;
    font-size: 50px;
  }

  .box-masonry .box-masonry-image:hover {
    text-decoration: none;
    border-color:#ff00e6;
  }

  .box-masonry .description-tools {
    margin-top: 1em;
    font-weight: bold;
    color: #ff00e6;
  }