.sidebar {
    padding-top: 2em;
    padding-left: 2em;
}

.sidebar a {
    font-size: 1.25em;
}

.sidebar-content {
    z-index: 0;
    padding: 1.5em;
    padding-bottom: 2em;
    border: 1px solid;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
}

@media(prefers-color-scheme: dark) {
    .sidebar-content {
        background: #000;
        box-shadow: 0 0 5px rgb(32, 33, 34);
    }
}

.sidebar-heading {
    font-size: 1.25em;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.sidebar-title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.sidebar-img {
text-align: center;
}

.sidebar img {
    min-width: 10px;
    max-width: 25px;
}

@media screen and (max-width: 991px) {
    .sidebar-title {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.sidebar-menu {
    list-style-type: none;
    padding-left: 2em;
}

.sidebar-menu li:before {
    content: '>';
    margin: 0 5px 0 -15px;
    color: #999999;
}

.copyright {
    position: relative;
    margin-top: 4em; 
    font-size: 0.75em;
    text-align: center;
}

.copyright p {
    margin-bottom: 0em;
}

.copyright img {
    max-width: 100px;
}

.copyright:before {
    content: "";
    width: 75%;
    height: 1px;
    position: absolute;
    top: -2em;
    left: 12.5%;
    background-color: #000;
    border-top: 1px solid;
}
  
/* .sidebar-menu li.active a, 
.sidebar-menu li.active:before,
.sidebar-menu li:hover:before {
    font-weight: bold;
    color: rgb(253, 27, 159)
} */
  
.sidebar-content img {
    width: 100%;
}

.social-links {
    margin-top: 2em;
    padding-left: 0em;

    position: relative;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-around;
    align-items: center;
}

.social a {
    display: inline-block;
    
    margin: 0.25em;

    width: 40px;
    height: 40px;
    
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    
    border-radius: 10px;
    border: solid 1px;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.social a:hover {
    color: rgb(253, 27, 159);
    border-color: rgb(253, 27, 159);
}

.social a i {
    vertical-align: bottom;
    line-height: 40px;
}

.social li {
    list-style: none;
}

/*
  =====================
  OFF-CANVAS SIDEBAR BEHAVIOUR
  =====================
  */
  @media screen and (max-width: 575px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      opacity: 1;
    }
    .row-offcanvas-right {
      right: 0;
    }
    .row-offcanvas-left {
      left: 0;
    }
    .row-offcanvas-right .sidebar-offcanvas {
      right: -50%;
      /* 6 columns */
    }
    .row-offcanvas-left .sidebar-offcanvas {
      left: -48%;
      /* 6 columns */
    }
    .row-offcanvas-right.active {
      right: 50%;
      /* 6 columns */
    }
    .row-offcanvas-left.active {
      left: 50%;
      /* 6 columns */
    }
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 50%;
      /* 6 columns */
    }
  }

  /*
  =====================
  SIDEBAR + RIGHT COLUMN
  =====================
  */
  
  .content-column {
    padding-top: 2em;
  }

  .grid {
    padding-top: 5px;
    overflow-y: hidden;
  }
  .content-column-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  @media (min-width: 1200px) {
    .content-column-content {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .content-column-content ul li {
    list-style-type: none;
  }
  .content-column-content ul li:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin: 0 5px 0 -15px;
  }